@model IEnumerable<PrenotazioneDetails>

@{

    Layout = "_Layout";
    ViewData["Title"] = "Elenco Prenotazioni";
}




<h1>@ViewData["Title"]</h1>
<p>Elenco delle prenotazioni</p>


<p>
    <a asp-action="NewPrenotazione" class="btn btn-primary">Aggiungi una nuova prenotazione</a>
</p>



@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Codice Fiscale</th>
                <th>Numero Camera</th>
                <th>Data Prenotazione</th>
                <th>Numero Progressivo</th>
                <th>Anno</th>
                <th>Dal</th>
                <th>Al</th>
                <th>Tariffa</th>
                <th>Caparra</th>
                <th>Totale da pagare</th>

                <th>Dettagli</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var prenotazione in Model)
            {
                <tr>
                    <td>@prenotazione.ID</td>
                    <td>@prenotazione.CodiceFiscale</td>
                    <td>@prenotazione.NumeroCamera</td>
                    <td>@prenotazione.DataPrenotazione.ToShortDateString()</td>
                    <td>@prenotazione.NumeroProgressivo</td>
                    <td>@prenotazione.Anno</td>
                    <td>@prenotazione.Dal.ToShortDateString()</td>
                    <td>@prenotazione.Al.ToShortDateString()</td>
                    <td>@prenotazione.Tariffa</td>
                    <td>@prenotazione.Caparra</td>
                    <td>@(prenotazione.Tariffa - prenotazione.Caparra)</td>

                    <td>
                        @prenotazione.Dettagli
                    </td>
                    <td>
                        <a asp-action="EditPrenotazione" asp-route-id="@prenotazione.ID" class="btn btn-primary">Modifica</a>
                        <button type="button" class="btn btn-danger delete-button" data-id="@prenotazione.ID">Elimina</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning">Nessun cliente trovato.</div>
}


@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.delete-button').on('click', function() {
                var prenotazioneId = $(this).data('id');
                var row = $(this).closest('tr');
                if (confirm('Sei sicuro di voler eliminare la prenotazione?')) {
                    $.ajax({
                        url: '@Url.Action("DeletePrenotazione")/' + prenotazioneId,
                        type: 'DELETE',
                        success: function(result) {
                            if (result.success) {
                                row.remove();
                            } else {
                                alert('Errore durante l\'eliminazione della prenotazione.');
                            }
                        },
                        error: function() {
                            alert('Errore durante l\'eliminazione della prenotazione.');
                        }
                    });
                }
            });
        });
    </script>
}